.inscribing {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 515px;
}

.inscribing_img {
    width: 600px;
    height: 400px;
    background-color: antiquewhite;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.inscribing p {
    font-size: 24px;
    text-align: center;
}

.inscribing input {
    text-align: center;
    font-size: 24px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid rgb(36, 179, 230);
}

.inscribing input:focus {
    outline: none;
}

.inscribing button {
    width: 36px;
    height: 36px;
    cursor: pointer;
    border: 2px solid rgb(36, 179, 230);
    border-radius: 5px;
}

.inscribing form {
    display: flex;
    align-items: center;
}