.order_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.order_dropsWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.order_container {
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order_drop_item {
    width: 24%;
    position: relative;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: -5px -5px 15px #ffffff, 5px 5px 10px #cbcdd3;
    border: 2px dashed gray;
    border-radius: 10px;
}

.order_bg {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    color: lightgray;
    font-weight: 900;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
}

.order_answers {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    width: 100%;
    box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #cbcdd3;
    border-radius: 10px;
}

.order_answer {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
    box-sizing: border-box;
    font-size: 16px;
    padding: 15px;
    width: 180px;
    height: 150px;
    border-radius: 12px;
    cursor: grab;
    background-color: antiquewhite;
    box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #cbcdd3;
    background-position: center;
    background-size: cover;
}

.order_answer span {
    cursor: pointer;
    font-size: 24px;
}

.order_checkTask {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.order_chek_answer {
    font-size: 26px;
}

@media(max-width:1250px) {
    .order_answer {
        width: 140px;
        height: 120px;
    }
    .order_drop_item {
        height: 150px;
    }
}