.task_9 {
    width: 770px;
}

.task_9_dropzone {
    margin: auto;
    display: flex;
    max-width: 770px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.task_9_drop {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 185px;
    height: 185px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px 2px;
    border-radius: 12px;
    box-shadow: -5px -5px 15px #ffffff, 5px 5px 10px #cbcdd3;
}

.task_9_dragzone {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    border-radius: 12px;
    box-shadow: -5px -5px 15px #ffffff, 5px 5px 10px #cbcdd3;
    padding: 10px;
    height: 120px;
}

.task_9_dragitem {
    display: flex;
    align-items: center;
    cursor: grab;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: -5px -5px 15px #ffffff, 5px 5px 10px #cbcdd3;
    padding: 5px;
    margin: 3px;
    max-width: 180px;
    text-align: center;
    height: 2em;
    font-size: 22px;
}

.task_9_right {
    border: 2px solid green
}

.task_9_wrong {
    border: 2px solid red
}

@media(max-width: 1250px) {
    .task_9 {
        width: 620px;
    }
    .task_9_dropzone {
        width: 620px;
    }
    .task_9_drop {
        width: 150px;
        height: 150px;
    }
    .task_9_dragitem {
        max-width: 140px;
        font-size: 18px;
    }
}