.task_7 {
    width: 100%;
}

.task_7_slider {
    display: flex;
    align-items: center;
    position: relative;
}

.task_7_btn {
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: aqua;
    cursor: pointer;
    z-index: 10;
}

.task_7_btn_prev {
    left: -25px;
}

.task_7_btn_next {
    right: -25px;
}

.task_7_drop {
    width: 100%;
    height: 450px;
    min-width: 600px;
    border-radius: 12px;
    box-shadow: -5px -5px 15px #ffffff, 5px 5px 10px #cbcdd3;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.task_7_drag_wrapper {
    width: 100%;
    height: 200px;
    border-radius: 12px;
    box-shadow: -5px -5px 15px #ffffff, 5px 5px 10px #cbcdd3;
    overflow: hidden;
    padding: 0 20px;
    position: relative;
}

.task_7_drag {
    width: fit-content;
    display: flex;
    position: absolute;
    transition: all 0.3s;
}

.task_7_pic,
.task_7_pic_dropped {
    height: 200px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: grab;
}

.task_7_audio {
    display: none !important;
}