.wordsToPic {
    width: 770px;
    margin: auto;
}

.wordsToPic_dropzone {
    margin: auto;
    display: flex;
    max-width: 770px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.wordsToPic_drop {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 185px;
    height: 185px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px 2px;
    border-radius: 12px;
    box-shadow: -5px -5px 15px #ffffff, 5px 5px 10px #cbcdd3;
}

.wordsToPic_dragzone {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    border-radius: 12px;
    box-shadow: -5px -5px 15px #ffffff, 5px 5px 10px #cbcdd3;
    padding: 10px;
    height: 150px;
    gap: 5px;
}

.wordsToPic_dragitem {
    user-select: none;
    display: flex;
    align-items: center;
    cursor: grab;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: -5px -5px 15px #ffffff, 5px 5px 10px #cbcdd3;
    padding: 5px;
    max-width: 180px;
    text-align: center;
    height: 2em;
    font-size: 22px;
}

.wordsToPic_right {
    border: 2px solid green
}

.wordsToPic_wrong {
    border: 2px solid red
}

@media(max-width: 1250px) {
    .wordsToPic {
        width: 600px;
    }
    .wordsToPic_dropzone {
        width: 600px;
    }
    .wordsToPic_drop {
        width: 140px;
        height: 140px;
    }
    .wordsToPic_dragitem {
        max-width: 130px;
        font-size: 18px;
    }
}